@tailwind base;
@tailwind components;

@layer base {
    @font-face {
        font-family: 'billabong';
        src: url('./assets/fonts/billabong.ttf') format('ttf');
    }  
}

@tailwind utilities;


.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}